<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafeteria 
    </a>
    <ul>
      <li>
        <a (click)="handlesignup()">Signup</a>
        <a (click)="handlelogin()">Login</a>
        <a (click)="handleforgotpassword()">Forgot Password</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Thanks for visiting this page</h2>
</div>